<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>AddReservationServlet</servlet-name>
        <servlet-class>AddReservationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryAllReservationsServlet</servlet-name>
        <servlet-class>QueryAllReservationsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveReservationServlet</servlet-name>
        <servlet-class>RemoveReservationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryReservationByResNumberServlet</servlet-name>
        <servlet-class>QueryReservationByResNumberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryReservationByLastNameServlet</servlet-name>
        <servlet-class>QueryReservationByLastNameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddReservationServlet</servlet-name>
        <url-pattern>/AddReservationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryAllReservationsServlet</servlet-name>
        <url-pattern>/QueryAllReservationsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveReservationServlet</servlet-name>
        <url-pattern>/RemoveReservationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryReservationByResNumberServlet</servlet-name>
        <url-pattern>/QueryReservationByResNumber</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryReservationByLastNameServlet</servlet-name>
        <url-pattern>/QueryReservationByLastName</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
